{% extends 'website/base.html' %}

{% load static %}

{% block content %}
	
	{% include 'website/activity_animation.html' %}
	<br>
	<div class="container">
		{% for paragraphe in paragraphes %}
				<h1 class="display-4" style="color:  rgba(94, 232, 76, 0.6);">{% if language == "fr" %} {{ paragraphe.title }} {% else %}{{ paragraphe.translated_title }}{% endif %}</h1><hr>
		
				<div class="lignee">
			                <div class="d-flex align-items-center mt-2">
				                <p class="lead">{% if language == "fr" %} {{ paragraphe.text }} {% else %}{{ paragraphe.translated_text }}{% endif %}</p>
						
			                </div>
			                <div class="bubles">
						        <img src="/static/image/bubble2.png" alt="">
						        <img src="/static/image/bubble2.png" alt="">
						        <img src="/static/image/bubble2.png" alt="">
						        <img src="/static/image/bubble2.png" alt="">
						        <img src="/static/image/bubble2.png" alt="">
						        <img src="/static/image/bubble2.png" alt="">
						        <img src="/static/image/bubble2.png" alt="">
							</div>
				</div>
		{% endfor %}

				<div class="container text-center mt-5">
				  <div class="row">
				  		{% for actcard in actcards %}
				   		<div class="col-md-4">
							<div class="card shadow">
								<div id="carousel{{ actcard.id }}" class="carousel slide" style="height: 370px;">
								  <div class="carousel-inner h-100">
								      {% if actcard.image1 %}
									    <div class="carousel-item active">
									      <img src="{{ actcard.image1 }}" class="d-block w-100 h-100" alt="...">
									    </div>
									    {% endif %}
									    {% if actcard.image2 %}
									    <div class="carousel-item">
									      <img src="{{ actcard.image2 }}" class="d-block w-100 h-100" alt="...">
									    </div>
									    {% endif %}
									    {% if actcard.image3 %}
									    <div class="carousel-item">
									      <img src="{{ actcard.image3 }}" class="d-block w-100 h-100" alt="...">
									    </div>
									    {% endif %}
									    {% if actcard.image4 %}
									    <div class="carousel-item">
									      <img src="{{ actcard.image4 }}" class="d-block w-100 h-100" alt="...">
									    </div>
									    {% endif %}
									    {% if actcard.image5 %}
									    <div class="carousel-item">
									      <img src="{{ actcard.image5 }}" class="d-block w-100 h-100" alt="...">
									    </div>
									    {% endif %}
									    {% if actcard.image6 %}
									    <div class="carousel-item active">
									      <img src="{{ actcard.image6 }}" class="d-block w-100 h-100" alt="...">
									    </div>
									    {% endif %}
									    {% if actcard.image7 %}
									    <div class="carousel-item">
									      <img src="{{ actcard.image7 }}" class="d-block w-100 h-100" alt="...">
									    </div>
									    {% endif %}
									    {% if actcard.image8 %}
									    <div class="carousel-item">
									      <img src="{{ actcard.image8 }}" class="d-block w-100 h-100" alt="...">
									    </div>
									    {% endif %}
									    {% if actcard.image9 %}
									    <div class="carousel-item">
									      <img src="{{ actcard.image9 }}" class="d-block w-100 h-100" alt="...">
									    </div>
									    {% endif %}
									    {% if actcard.image10 %}
									    <div class="carousel-item">
									      <img src="{{ actcard.image10 }}" class="d-block w-100 h-100" alt="...">
									    </div>
									    {% endif %}
								  </div>
								  <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ actcard.id }}" data-bs-slide="prev">
								    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
								    <span class="visually-hidden">Previous</span>
								  </button>
								  <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ actcard.id }}" data-bs-slide="next">
								    <span class="carousel-control-next-icon" aria-hidden="true"></span>
								    <span class="visually-hidden">Next</span>
								  </button>
								</div>

							  <div class="card-body">
							    <h5 class="card-title custom-color">{% if language == "fr" %} {{ actcard.title }} {% else %}{{ actcard.translated_title }}{% endif %}</h5>
							    
							  </div>
							</div>
							<br><br><br>
						</div>
						{% endfor %}
					</div>		
				</div>
	</div>
{% endblock %}
