<!doctype html>
<html>
{% load static %}
{% load i18n %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vohitsoa</title>
    <link rel="icon" href="{% static 'image/logo.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/anime.css' %}">
    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
        <div>
            <!-- Modal -->
            <div class="modal fade" id="resaModal" tabindex="-1" aria-labelledby="resaModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header" style="background-color:#F4F4F4;">
                    <h1 class="modal-title fs-5  text-success" id="resaModalLabel"><i class="bi bi-bookmark-plus success"></i>&nbsp;&nbsp;&nbsp;&nbsp;Book now!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">                        
                        {% include 'website/resa_form.html' %}
                    </div>
                  </div>
                </div>
                <div class="bubles">
                    <img src="/static/image/bubble.png" alt="">
                    <img src="/static/image/bubble.png" alt="">
                    <img src="/static/image/bubble.png" alt="">
                    <img src="/static/image/bubble.png" alt="">
                    <img src="/static/image/bubble.png" alt="">
                    <img src="/static/image/bubble.png" alt="">
                    <img src="/static/image/bubble.png" alt="">
              </div>
              </div>
            </div>
        </div>


      {% include 'website/navbar.html' %}
    <br/><br/>
    <div>
        <br><br><br>
            {% block content %}

            {% endblock %}
    </div>
    <footer>
        {% include 'website/footer.html' %}
    </footer>
    
        <!-- Required dependencies -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>

        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'js/move_text.js' %}"></script>
        <script src="https://kit.fontawesome.com/9624bd3227.js" crossorigin="anonymous"></script>

</body>
</html>