{% extends 'website/base.html' %}

{% load static %}

{% block content %}
	<div class="container">
		<br>
        	{% for paragraphe in paragraphes %}
		<h1 class="display-4" style="color:  rgba(94, 232, 76, 0.6);">{% if language == "fr" %} {{ paragraphe.title }} {% else %}{{ paragraphe.translated_title }}{% endif %}<span><img class="mb-5" src="/static/image/zzz.png" class="mb-1" style="width: 20px;"></span></h1><hr><br>
		{% endfor %}
	</div>
	<div class="container">
		<div class="container text-center mt-5">
			  <div class="row">
			  	{% for bedcard in bedcards %}
			    <div class="col-md-6 lead fst-italic">
					
					<div class="card shadow">

						<div id="carousel{{ bedcard.id }}" class="carousel slide" style="height: 350px;">
						  <div class="carousel-inner h-100">
						    {% if bedcard.image1 %}
						    <div class="carousel-item active">
						      <img src="{{ bedcard.image1 }}" class="d-block w-100 h-100" alt="...">
						    </div>
						    {% endif %}
						    {% if bedcard.image2 %}
						    <div class="carousel-item">
						      <img src="{{ bedcard.image2 }}" class="d-block w-100 h-100" alt="...">
						    </div>
						    {% endif %}
						    {% if bedcard.image3 %}
						    <div class="carousel-item">
						      <img src="{{ bedcard.image3 }}" class="d-block w-100 h-100" alt="...">
						    </div>
						    {% endif %}
						    {% if bedcard.image4 %}
						    <div class="carousel-item">
						      <img src="{{ bedcard.image4 }}" class="d-block w-100 h-100" alt="...">
						    </div>
						    {% endif %}
						    {% if bedcard.image5 %}
						    <div class="carousel-item">
						      <img src="{{ bedcard.image5 }}" class="d-block w-100 h-100" alt="...">
						    </div>
						    {% endif %}
						    {% if bedcard.image6 %}
						    <div class="carousel-item active">
						      <img src="{{ bedcard.image6 }}" class="d-block w-100 h-100" alt="...">
						    </div>
						    {% endif %}
						    {% if bedcard.image7 %}
						    <div class="carousel-item">
						      <img src="{{ bedcard.image7 }}" class="d-block w-100 h-100" alt="...">
						    </div>
						    {% endif %}
						    {% if bedcard.image8 %}
						    <div class="carousel-item">
						      <img src="{{ bedcard.image8 }}" class="d-block w-100 h-100" alt="...">
						    </div>
						    {% endif %}
						    {% if bedcard.image9 %}
						    <div class="carousel-item">
						      <img src="{{ bedcard.image9 }}" class="d-block w-100 h-100" alt="...">
						    </div>
						    {% endif %}
						    {% if bedcard.image10 %}
						    <div class="carousel-item">
						      <img src="{{ bedcard.image10 }}" class="d-block w-100 h-100" alt="...">
						    </div>
						    {% endif %}
					  </div>
					  <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ bedcard.id }}" data-bs-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Previous</span>
					  </button>
					  <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ bedcard.id }}" data-bs-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Next</span>
					  </button>
					</div>

					  <div class="card-body">
					    <h5 class="card-title text-success text-decoration-underline">{% if language == "fr" %} {{ bedcard.title }} {% else %}{{ bedcard.translated_title }}{% endif %}</h5>
					    <p class="card-text">{% if language == "fr" %} {{ bedcard.details }} {% else %}{{ bedcard.translated_details }}{% endif %}</p>
					  </div>
					  <ul class="list-group list-group-flush">
					    <li class="list-group-item custom-color" style="background: linear-gradient(180deg, #FAE9D3, #FAE9D3);">{{ bedcard.price }}</li>

					  </ul>
					</div><br><br>

			    </div>
			    {% endfor %}
					
			    </div>
			  </div>

        	<br><br>
        	<br><br>
        	<br><hr>
        	{% for paragraphe in paragraphes %}
			  <div class="container-sm">
			  		<h1 class="display-4" style="color:  rgba(94, 232, 76, 0.6);">{% if language == "fr" %} {{ paragraphe.title2 }} {% else %}{{ paragraphe.translated_title2 }}{% endif %}</h1><hr>
	        		<div class="lignee">
			                <div class="d-flex align-items-center mt-2">
				                <p class="lead">{% if language == "fr" %} {{ paragraphe.text }} {% else %}{{ paragraphe.translated_text }}{% endif %}</p>
						
			                </div>
			                <div class="bubles">
						        <img src="/static/image/bubble2.png" alt="">
						        <img src="/static/image/bubble2.png" alt="">
						        <img src="/static/image/bubble2.png" alt="">
						        <img src="/static/image/bubble2.png" alt="">
						        <img src="/static/image/bubble2.png" alt="">
						        <img src="/static/image/bubble2.png" alt="">
						        <img src="/static/image/bubble2.png" alt="">
							</div>
				</div>
				<p class="text-center">
		                    	<button class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#resaModal"><i class="bi bi-arrow-right-square">&nbsp;&nbsp;&nbsp;</i><span class="fst-italic"> {% if language == "fr" %}{{ paragraphe.boutton }} {% else %}{{ paragraphe.translated_boutton }}{% endif %}</span></button>
		                </p>
	        	</div>
	        	{% endfor %}
	</div>
</div>
{% endblock %}
