{% extends 'website/base.html' %}

{% load static %}

{% block content %}
	{% if messageme_successa %}
		<br><br><br><br>
	<div class="container">
	    <div class="alert alert-success alert-dismissible fade show" role="alert">
			{% if language == "fr" %}{{ messageme_successf }}{% else %}{{ messageme_successa }}{% endif %}
	    </div>
	</div>
	{% else %}
		{% for position in positions %}
		<div class="container">
			
			<h1 class="display-4" style="color:  rgba(94, 232, 76, 0.6);">{% if language == "fr" %} {{ position.title }} {% else %}{{ position.translated_title }}{% endif %}</h1><hr><br>
			<div>
				<h1 style="color:  rgba(94, 232, 76, 0.6);"><i class="fa-solid fa-map-location-dot"></i>:</h1>
				<div align="right">
					<iframe src="{{ position.url }}" width="100%" height="450" style="border:0; border-radius: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-12 col-md-4 ">
					<h1 style="color:  rgba(94, 232, 76, 0.6);">{% if language == "fr" %} {{ position.title2 }} {% else %}{{ position.translated_title2 }}{% endif %} <i class="fa-regular fa-message"></i></h1><br>
				</div>
				<form action="{% url 'contact_us' %}" method="post">
					{% csrf_token %}
					<div class="row">
						<div class="col-lg-6">
							<input type="text" name="message_name" class="form-control mb-3" placeholder="{% if language == "fr" %} {{ position.placeh1 }} {% else %}{{ position.translated_placeh1 }}{% endif %}" required>
						</div>
						<div class="col-lg-6">
							<input type="email" name="message_email" class="form-control mb-3" placeholder="{% if language == "fr" %} {{ position.placeh2 }} {% else %}{{ position.translated_placeh2 }}{% endif %}" required>
						</div>
						<div class="col-12">
							<textarea name="message" class="form-control mb-3" placeholder="{% if language == "fr" %} {{ position.placeh3 }} {% else %}{{ position.translated_placeh3 }}{% endif %}" maxlength="400" required></textarea>
						</div>
						<div class="col-12" align="right">
							<button type="submit" class="btn btn-outline-success" id="liveAlertBtn"><i class="fa-regular fa-paper-plane"></i>{% if language == "fr" %} {{ position.boutton }} {% else %}{{ position.translated_boutton }}{% endif %}</button>
						</div>
					</div>				
				</form>
			</div>
		</div>
		{% endfor %}

	{% endif %}

{% endblock %}
