{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Vohitsoa</title>
    <link rel="icon" href="/static/image/logo.png">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link href="{% static 'sb-admin-2/css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'sb-admin-2/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'sb-admin-2/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <style>
        .custom-color {
            color: #AF6E19;
        }
    </style>
</head>
<body id="page-top">
    
            {% if user.is_authenticated %}
            <!-- Page Wrapper -->
            <div id="wrapper">
        <!-- Page Wrapper -->
            <div id="wrapper" style="width: 100%;"> 

                <!-- Sidebar -->
                <ul class="navbar-nav sidebar sidebar-dark accordion shadow" id="accordionSidebar" style="position: fixed; z-index: 999;background: linear-gradient(180deg, #FAE9D3, #FAE9D3);">

                    <!-- Sidebar - Brand -->
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'customadmin' %}">
                        <img src="/static/image/logo.png" style="width: 60px;" class="invert">
                    </a>

                    <!-- Divider -->
                    <hr class="sidebar-divider" style="background: #AF6E19;">

                    <!-- Heading -->
                    <div class="sidebar-heading">
                        <span style="color: #AF6E19;">Interface</span>
                    </div>

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="true" aria-controls="collapseTwo">
                            <i class="fa-solid fa-house"></i>
                            <span>Home</span>
                        </a>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header text-success">Custom Home:</h6>
                            
                                <a class="collapse-item" href="{% url 'slide_list' %}">Slide</a>
                                
                                <a class="collapse-item" href="{% url 'text_comp' %}">Text components</a>
                        
                                <a class="collapse-item" href="{% url 'offer_list' %}">offers</a>
                                
                                <a class="collapse-item" href="{% url 'update_todo' %}">Todo</a>
                    
                            </div>
                        </div>
                    </li>

                    <!-- Nav Item - Utilities Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapserestaurant"
                            aria-expanded="true" aria-controls="collapserestaurant">
                            <i class="fa-solid fa-utensils"></i>
                            <span>Restaurant</span>
                        </a>
                        <div id="collapserestaurant" class="collapse" aria-labelledby="headingUtilities"
                            data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header text-success">Custom Restaurant:</h6>
                                <a class="collapse-item" href="{% url 'update_resto_head' %}">Header</a>
                                <a class="collapse-item" href="{% url 'resto_card_list' %}">Cards</a>
                                <a class="collapse-item" href="{% url 'update_foot_resto' %}">Text components</a>
                            </div>
                        </div>
                    </li>
                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBedrooms"
                            aria-expanded="true" aria-controls="collapseBedrooms">
                            <i class="fa-solid fa-bed"></i>
                            <span>Bedrooms</span>
                        </a>
                        <div id="collapseBedrooms" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header text-success">Custom Bedrooms:</h6>
                                <a class="collapse-item" href="{% url 'bedrooms_card_list' %}">Cards components</a>
                                <a class="collapse-item" href="{% url 'update_bed_paragraphe' %}">Text components</a>
                            </div>
                        </div>
                    </li>

                    <!-- Nav Item - Utilities Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseActivities"
                            aria-expanded="true" aria-controls="collapseActivities">
                            <i class="fa-solid fa-chess-board"></i>
                            <span>Activities</span>
                        </a>
                        <div id="collapseActivities" class="collapse" aria-labelledby="headingUtilities"
                            data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header text-success">Custom Activities:</h6>
                                <a class="collapse-item" href="{% url 'update_act_paragraphe' %}">Texts</a>
                                <a class="collapse-item" href="{% url 'activity_card_list' %}">Cards</a>
                            </div>
                        </div>
                    </li>
                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseContacts"
                            aria-expanded="true" aria-controls="collapseContacts">
                            <i class="fa-regular fa-comment"></i>
                            <span>Contacts</span>
                        </a>
                        <div id="collapseContacts" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header text-success">Custom Contacts</h6>
                                <a class="collapse-item" href="{% url 'update_Contacts_paragraphe' %}">Map et contacts</a>
                            </div>
                        </div>
                    </li>

                    <!-- Nav Item - Utilities Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGallery"
                            aria-expanded="true" aria-controls="collapseGallery">
                            <i class="fa-regular fa-image"></i>
                            <span>Gallery</span>
                        </a>
                        <div id="collapseGallery" class="collapse" aria-labelledby="headingUtilities"
                            data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header text-success">Custom Gallery</h6>
                                <a class="collapse-item" href="{% url 'gallery_card_list' %}">Grids</a>
                            </div>
                        </div>
                    </li>
                    <!-- Nav Item - Utilities Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFooter"
                            aria-expanded="true" aria-controls="collapseFooter">
                            <i class="fa-solid fa-caret-down"></i>
                            <span>Footer</span>
                        </a>
                        <div id="collapseFooter" class="collapse" aria-labelledby="headingUtilities"
                            data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header text-success">Custom Footer:</h6>
                                <a class="collapse-item" href="{% url 'update_Footer' %}">Footer</a>
                            </div>
                        </div>
                    </li>

                    <!-- Divider -->
                    <hr class="sidebar-divider" style="background: #AF6E19;">

                    <!-- Sidebar Toggler (Sidebar) -->
                    <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                    </div>


                    <!-- Sidebar Message -->

                </ul>
                <!-- End of Sidebar -->

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content" >

                        <!-- Topbar -->
                        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                            <!-- Sidebar Toggle (Topbar) -->
                            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                                <i class="fa fa-bars"></i>
                            </button>

                            <!-- Topbar Search -->

                            <!-- Topbar Navbar -->
                            <ul class="navbar-nav ml-auto">

                                <!-- Nav Item - Search Dropdown (Visible Only XS) -->

                                <!-- Nav Item - Alerts -->
                                <li class="nav-item dropdown no-arrow mx-1">
                                    <a class="nav-link dropdown-toggle" href="{% url "resa_inbox" %}" id="alertsDropdown">
                                        <i class="fa-regular fa-bookmark"></i>
                                        <!-- Counter - Alerts -->
                                        {% if pending_resa > 0 %}
                                        <span class="badge badge-danger badge-counter">{{ pending_resa }}</span>
                                        {% endif %}
                                    </a>
                                </li>

                                <!-- Nav Item - Messages -->
                                <li class="nav-item dropdown no-arrow mx-1">
                                    <a class="nav-link dropdown-toggle" href="{% url 'mess_inbox' %}" id="messagesDropdown">
                                        <i class="fas fa-envelope fa-fw"></i>
                                        <!-- Counter - Messages -->
                                        {% if pending_message > 0 %}
                                        <span class="badge badge-danger badge-counter">{{ pending_message }}</span>
                                        {% endif %}
                                    </a>
                                </li>

                                <div class="topbar-divider d-none d-sm-block"></div>

                                <!-- Nav Item - User Information -->
                                <li class="nav-item dropdown no-arrow">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                                    </a>
                                    <!-- Dropdown - User Information -->
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                        aria-labelledby="userDropdown">
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Logout
                                        </a>
                                    </div>
                                </li>

                            </ul>

                        </nav>
                        <!-- End of Topbar -->

                        <!-- Begin Page Content -->
                        <div class="container ms-5">
                            <div class="container ms-5">
                                {% block content %}
                                    
                                {% endblock %}
                            </div>
                        </div>
                        <!-- /.container-fluid -->

                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; Hôtel Vohitsoa {{ current_year }}</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="{% url 'bo_logout' %}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>

                <!-- End of Content Wrapper -->
            </div>
            <!-- End of Page Wrapper -->
            <!-- Bootstrap core JavaScript-->
            <script src="{% static 'sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
            <script src="{% static 'sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
            <!-- Core plugin JavaScript-->
            <script src="{% static 'sb-admin-2/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
            <!-- Custom scripts for all pages-->
            <script src="{% static 'sb-admin-2/js/sb-admin-2.min.js' %}"></script>

            <!-- Page level plugins -->
            <script src="{% static 'sb-admin-2/vendor/chart.js/Chart.min.js' %}"></script>

            <!-- Page level custom scripts -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://kit.fontawesome.com/9624bd3227.js" crossorigin="anonymous"></script>
            <script>
                $(document).ready(function() {
                // Collapse sidebar by default
                $("#sidebarToggle").addClass("collapsed");
                $("#accordionSidebar").addClass("toggled");
                });
            </script>

{% else %}
    <center>
        <p class="lead">OOps ERROR 404: could not find the page you requested</p>
    </center>
{% endif %}
</body>
</html>