
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container mt-5 ">

    <footer style="background-color: #eee6d3;">
      <div class="container p-4">
        <div class="row mx-4 mt-3">
          {% for footer in footers %}
          <div class="col-lg-6 col-md-12 mb-2">
              <ul style="list-style: none;">
                  <li></li>
                  <li><p class="display-6 custom-color">{% if language == "fr" %}{{ footer.big_text }}{% else %}{{ footer.translated_big_text }}{% endif %}<span> </span>{% if language == "fr" %}{{ footer.big_text2 }}{% else %}{{ footer.translated_big_text2 }}{% endif %}</p></li>
                  <li><p class="lead">
                {% if language == "fr" %}{{ footer.small_text }}{% else %}{{ footer.translated_small_text }}{% endif %}
            </p></li>
              </ul>
          </div>
          {% endfor %}
          <div class="col-lg-3 col-md-6 mb-2 mt-3">
              
          </div>
          {% for contact in contacts %}
          <div class="col-lg-3 col-md-6 mb-2 mt-3">
            <h5 class="mb-1 custom-color text-decoration-underline">Contacts:</h5>
            <br/>
            <table class="table table-borderless">
              <tbody>
                <tr>
                </tr>
                <tr>
                  <td ><a target="_blank" href="{{ contact.facebook_link }}"><i class="fa-brands fa-facebook fa-2xl custom-color"></i></a></td>
                  <td ><a target="_blank" href="{{ contact.instagram_link }}"><i class="fa-brands fa-instagram fa-2xl custom-color"></i></a></td>
                  <td ><a href="hotelvohitsoa.resa@gmail.com" target="_blank"></a></td>
                </tr>
                <tr>
                  <p class="lead">
                      <a><i class="bi bi-geo-alt custom-color"></i> </a>{{ contact.addresse }}</p>
                </tr>
              <tr>
                <p class="lead">
                  <a><i class="fa-solid fa-at custom-color"></i></a>{{ contact.email_address }}</p>
              </tr>
                <tr ><i class="bi bi-telephone custom-color"></i><br/></tr>
              <tr class="custom-color"><p class="lead" style="font-size: 16px">{{ contact.phone_number1 }}</p></tr>
              <tr class="custom-color"><p class="lead" style="font-size: 16px">{{ contact.phone_number2 }}</p></tr>
              <tr class="custom-color"><p class="lead" style="font-size: 16px">{{ contact.phone_number3 }}</p><br/></tr>
              </tbody>
            </table>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="text-center p-3 blanc-color" style="background-color: rgba(94, 232, 76, 0.6);">
        © {{current_year}} Copyright:
        <span class="text-light">Hôtel Vohitsoa</span>
      </div>
      <!-- Copyright -->
    </footer>
    
  </div>
  <!-- End of .container -->