{% extends 'website/base.html' %}

{% load static %}

{% block content %}
	<div class="container">
		<h1 class="display-4" style="color:  rgba(94, 232, 76, 0.6);"><span class="display-3">G</span>allery <span style="color:  rgba(94, 232, 76, 0.6);"><i class="fa-regular fa-image"></i></span></h1><hr><br>

		 <div class="accordion" id="accordionPanelsStayOpenExample">
			  {% for gallery in galleries %}
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="panelsStayOpen-heading{{ gallery.id }}">
			      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ gallery.id }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ gallery.id }}">
			        <span class="lead custom-color" style="font-size: 32px;">{% if language == "fr" %} {{ gallery.title }} {% else %}{{ gallery.translated_title }}{% endif %}</span>
			      </button>
			    </h2>
			    <div id="panelsStayOpen-collapse{{ gallery.id }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{ gallery.id }}">
			      <div class="accordion-body">
					<br>
					<br>
					<!-- Gallery -->
					<div class="row">
					  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
					    {% if gallery.image1 %}
					    <img
					      src="{{ gallery.image1 }}"
					      class="w-100 shadow-1-strong rounded mb-4"
					      alt="Boat on Calm Water"
					    />
					    {% endif %}
					    {% if gallery.image2 %}
					    <img
					      src="{{ gallery.image2 }}"
					      class="w-100 shadow-1-strong rounded mb-4"
					      alt="Wintry Mountain Landscape"
					    />
					    {% endif %}
					  </div>

					  <div class="col-lg-4 mb-4 mb-lg-0">
					    {% if gallery.image3 %}
					    <img
					      src="{{ gallery.image3 }}"
					      class="w-100 shadow-1-strong rounded mb-4"
					      alt="Mountains in the Clouds"
					    />
					    {% endif %}
					    {% if gallery.image4 %}
					    <img
					      src="{{ gallery.image4 }}"
					      class="w-100 shadow-1-strong rounded mb-4"
					      alt="Boat on Calm Water"
					    />
					    {% endif %}
					  </div>

					  <div class="col-lg-4 mb-4 mb-lg-0">

					    {% if gallery.image5 %}
					    <img
					      src="{{ gallery.image5 }}"
					      class="w-100 shadow-1-strong rounded mb-4"
					      alt="Waves at Sea"
					    />
					    {% endif %}

					    {% if gallery.image6 %}
					    <img
					      src="{{ gallery.image6 }}"
					      class="w-100 shadow-1-strong rounded mb-4"
					      alt="Yosemite National Park"
					    />
					    {% endif %}
					  </div>

  					  <div class="col-lg-4 mb-4 mb-lg-0">

					    {% if gallery.image7 %}
					    <img
					      src="{{ gallery.image7 }}"
					      class="w-100 shadow-1-strong rounded mb-4"
					      alt="Waves at Sea"
					    />
					    {% endif %}

					    {% if gallery.image8 %}
					    <img
					      src="{{ gallery.image8 }}"
					      class="w-100 shadow-1-strong rounded mb-4"
					      alt="Yosemite National Park"
					    />
					    {% endif %}
					  </div>

	  				 <div class="col-lg-4 mb-4 mb-lg-0">

					    {% if gallery.image9 %}
					    <img
					      src="{{ gallery.image9 }}"
					      class="w-100 shadow-1-strong rounded mb-4"
					      alt="Waves at Sea"
					    />
					    {% endif %}

					    {% if gallery.image10 %}
					    <img
					      src="{{ gallery.image10 }}"
					      class="w-100 shadow-1-strong rounded mb-4"
					      alt="Yosemite National Park"
					    />
					    {% endif %}
					  </div>
					</div>
					<!-- Gallery -->
			      </div>
			    </div>
			  </div>
			  {% endfor %}
			</div>
			<br><br>
	</div>
	<style>
		.accordion-button:not(.collapsed) {
		  background-color: transparent;
		}
		.accordion-button {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		}

	</style>
{% endblock %}
