{% extends 'website/base.html' %}

{% load static %}

{% block content %}	
 
	{% if messageresa_successa %}
	<br><br><br><br>
        <div class="container">
        	<div class="alert alert-success alert-dismissible fade show lead" role="alert">
                {% if language == "fr" %}{{ messageresa_successf }}{% else %}{{ messageresa_successa }}{% endif %}
          </div>
        </div>  
        <br><br><br><br>
        {% elif messageresa_fail %}
        <br><br><br><br>
            <div class="container">
                <div class="alert alert-danger alert-dismissible fade show lead" role="alert">
                    {% if language == "fr" %}{{messageresa_failfr}}{% else %}{{messageresa_fail}}{% endif %}
              </div>
            </div>  
        {% else %}
        <!---->
        <!---->
        <!---->

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            {% for slide in slides %}
                {% if slide.slide_image1 %}
                    <div class="carousel-item active">
                    <img src="{{ slide.slide_image1 }}" class="d-block w-100" alt="Slide 1">
                    </div>
                {% endif %}
                {% if slide.slide_image2 %}
                    <div class="carousel-item active">
                    <img src="{{ slide.slide_image2 }}" class="d-block w-100" alt="Slide 1">
                    </div>
                {% endif %}
                {% if slide.slide_image3 %}
                    <div class="carousel-item active">
                    <img src="{{ slide.slide_image3 }}" class="d-block w-100" alt="Slide 1">
                    </div>
                {% endif %}
                {% if slide.slide_image4 %}
                    <div class="carousel-item active">
                    <img src="{{ slide.slide_image4 }}" class="d-block w-100" alt="Slide 1">
                    </div>
                {% endif %}
                {% if slide.slide_image5 %}
                    <div class="carousel-item active">
                    <img src="{{ slide.slide_image5 }}" class="d-block w-100" alt="Slide 1">
                    </div>
                {% endif %}
                {% if slide.slide_image6 %}
                    <div class="carousel-item active">
                    <img src="{{ slide.slide_image6 }}" class="d-block w-100" alt="Slide 1">
                    </div>
                {% endif %}
                {% if slide.slide_image7 %}
                    <div class="carousel-item active">
                    <img src="{{ slide.slide_image7 }}" class="d-block w-100" alt="Slide 1">
                    </div>
                {% endif %}
                {% if slide.slide_image8 %}
                    <div class="carousel-item active">
                    <img src="{{ slide.slide_image8 }}" class="d-block w-100" alt="Slide 1">
                    </div>
                {% endif %}
                {% if slide.slide_image9 %}
                    <div class="carousel-item active">
                    <img src="{{ slide.slide_image9 }}" class="d-block w-100" alt="Slide 1">
                    </div>
                {% endif %}
                {% if slide.slide_image10 %}
                    <div class="carousel-item active">
                    <img src="{{ slide.slide_image10 }}" class="d-block w-100" alt="Slide 1">
                    </div>
                {% endif %}
            {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>		


		<div class="container mt-5">

            <div class="moving1">
                {% for para in parag %}
        
                <div class="moving2">
                    <p class="lead">
                        {% if language == "fr" %}{{ para.text_home1 }}{% else %}{{ para.translated_text_home1 }}{% endif %}
                    </p>
                    <h1 class="display-4" style="color:  rgba(94, 232, 76, 0.6);"><span class="display-3"></span>{% if language == "fr" %} {{ para.title }} {% else %}{{ para.translated_title }}{% endif %}<span><img src="/static/image/leaf.png" class="mb-1" style="width: 20px;"></span></h1>
                    <div class="bubles">
                        <img src="/static/image/bubble2.png" alt="">
                        <img src="/static/image/bubble2.png" alt="">
                        <img src="/static/image/bubble2.png" alt="">
                        <img src="/static/image/bubble2.png" alt="">
                        <img src="/static/image/bubble2.png" alt="">
                        <img src="/static/image/bubble2.png" alt="">
                        <img src="/static/image/bubble2.png" alt="">
                    </div>
                    <hr class="separator">
                    <p class="lead">
                        {% if language == "fr" %}{{ para.text_home2 }}{% else %}{{ para.translated_text_home2 }}{% endif %}<span> </span>{% if language == "fr" %} {{ para.text_home3 }}{% else %}{{ para.translated_text_home3 }}{% endif %}
                    </p>
                </div>
                <div class="conttt">
                    <img class="pict_home" src="{{ para.component_image }}" alt="">
                </div>
            
                    {% endfor %}			
            </div>

		</div>
		<div class="container">
			
        	{% for detailss in detailsss %}
                <h1 class="display-4" style="color:  rgba(94, 232, 76, 0.6);">{% if language == "fr" %} {{ detailss.title }} {% else %}{{ detailss.translated_title }}{% endif %}</h1>
                {% endfor %}
            <hr>
            <br>
            <div class="accordion accordion-flush" id="accordionFlushExample">
            
                {% for offer in offers %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed btn-outlined-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{offer.id}}" aria-expanded="false" aria-controls="flush-collapse{{ offer.id }}">
                    <img src="{{ offer.offer_image}}" style="width: 40px;" alt="">&nbsp;&nbsp;&nbsp;&nbsp;<span class="lead custom-color" style="font-size: 32px;">{% if language == "fr" %} {{ offer.offer_title }} {% else %}{{ offer.translated_offer_title }}{% endif %}</span>
                </button>
                </h2>
                <div id="flush-collapse{{ offer.id }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body lead">{% if language == "fr" %}{{ offer.offer_details }} {% else %}{{ offer.translated_offer_details }}{% endif %}<br><br></div>
                </div>
            </div>
            {% endfor %}
            </div>
            <div>{% for detailss in detailsss %}
            <figure class="text-end">
                <blockquote class="blockquote">
                <p><img src="/static/image/shield.png" style="width: 30px;" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/image/wifi.png" style="width: 30px;" alt=""></p>
                </blockquote>
                <figcaption class="blockquote-footer">
                <span>{% if language == "fr" %} {{ detailss.footer_text1 }} {% else %}{{ detailss.translated_footer_text1 }}{% endif %},</span><br>
                <span>{% if language == "fr" %} {{ detailss.footer_text2 }} {% else %}{{ detailss.translated_footer_text2 }}{% endif %}</span>
            </figcaption>
            </figure>{% endfor %}
            </div>

		</div>

		<div class="container">
			{% for todo in todo_text %}
			<h1 class="display-4" style="color:rgba(94, 232, 76, 0.6);">{% if language == "fr" %}{{ todo.todo_title }}{% else %}{{ todo.translated_todo_title }}{% endif %}</h1>
			<div class="row lignee">
		                <div class="col">
			                <p class="lead">{% if language == "fr" %}{{ todo.todo }}{% else %}{{ todo.translated_todo }}{% endif %}</p>
		                </div>
		                <div class="col">
		                    <ul class="lead list-unstyled">
		                    	{% for item in todo_item %}
		                    	<li><img src="{{ item.item_image}}" style="width: 35px;" alt="">&nbsp;&nbsp;{% if item.item_image2 %}<img src="{{ item.item_image2}}" style="width: 25px;" alt="">{% endif %}&nbsp;&nbsp;{% if language == "fr" %}{{ item.item_details}}{% else %}{{ item.translated_item_details}}{% endif %}</li>
		                    	{% endfor %}
		                    </ul>
		                </div>
				<div class="bubles">
				        <img src="/static/image/bubble.png" alt="">
				        <img src="/static/image/bubble.png" alt="">
				        <img src="/static/image/bubble.png" alt="">
				        <img src="/static/image/bubble.png" alt="">
				        <img src="/static/image/bubble.png" alt="">
				        <img src="/static/image/bubble.png" alt="">
				        <img src="/static/image/bubble.png" alt="">
				</div>
			</div>
			{% endfor %}
		</div>

		{% endif %}
{% endblock%}