{% extends 'website/customadmin.html' %}
{% block content %}
{% if user.is_authenticated %}
    <div class="container gradient-custom-3">
        <center >
            <br>
            <hr>
            <h1 class="display-6 fst-italic text-dark">Here is the back-office, you can customise the website and its content here</h1>
            <br>
            <br>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <br>
            <br>
        </center>
    </div>
{% else %}
<center>
    <p class="lead">OOps ERROR 404: could not find the page you requested</p>
</center>
{% endif %}
{% endblock %}