<!doctype html>
<html>
	{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in | Admin Vohitsoa</title>
    <link rel="icon" href="/static/image/logo.png">
    <link rel="icon" href="/static/image/logo.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/anime.css' %}">
    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-icons-1.10.3/bootstrap-icons.css' %}">
  </head>
  <body>
	<div class="container">
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% endfor %}
		{% endif %}
	</div>
	<section class="h-100 gradient-form" style="background-color: #eee;">
		<div class="container py-5 h-100 rounded-3">
		  <div class="row d-flex justify-content-center align-items-center h-100 ">
			<div class="col-xl-10">
			  <div class="card text-black">
				<div class="row g-0">
				  <div class="col-lg-6" style="z-index: 88;">
					<div class="card-body p-md-5 mx-md-4">
	  
					  <div class="text-center">
						<img src="/static/image/logo.png"
						  style="width: 185px;" alt="logo">
						<h4 class="mt-1 mb-5 pb-1 lead fst-italic custom-color">Admin vohitsoa</h4>
					  </div>

						<form action="" method=POST>
							{% csrf_token %}
							<form>
						<div class="mb-3">
							<label for="exampleInputEmail1" class="form-label custom-color lead fst-italic">Username</label>
							<input type="text" class="form-control" name="username" aria-describedby="emailHelp">
							</div>
						<div class="mb-3">
							<label for="exampleInputPassword1" class="form-label custom-color lead fst-italic">Password</label>
							<input type="password" class="form-control" name="password">
						</div>
							<input type="submit" value="Submit" class="btn btn-outline-success">
						</form>

					</div>
				  </div>
				  <div class="col-lg-6 d-flex align-items-center gradient-custom-2 ">
					<div class="text-white px-3 py-4 p-md-5 mx-md-4">
					  <h4 class="mb-4 lead">We are more than just a company</h4>
					  <p class="small mb-0"></p>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
	          <!-- Bootstrap JavaScript -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>