
{% load i18n %}

{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% for navs in navbar %}
<div id="mainNavigation" class="bg-light">
      <nav role="navigation">
      <div class="py-2 text-center border-bottom mx-5">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <img src="/static/image/logo.png" style="width: 60px;position: fixed;" class="invert">
            </div>
            <div class="col-auto mt-3" >
              <a href="#resa_card" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#resaModal"><i class="bi bi-bookmark-fill"></i>{% if language == "fr" %}{{ navs.book }}{% else %}{{ navs.translated_book }}{% endif %}</a>
            </div>
          </div>
        </div>
      </div>
    </nav>


      <div class="navbar-expand-md">
        <div class="navbar-dark text-center my-2">
          <button class="navbar-toggler w-75 custom-button-class" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> <span class="align-middle pt-3"><i class="fa fa-list custom-color"></i></span>
          </button>

        </div>
          <div class="navbar-collapse collapse text-center mt-3" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link lead" aria-current="page" href="{% url 'homepage'%}">{% if language == "fr" %}{{ navs.accueil }}{% else %}{{ navs.translated_accueil }}{% endif %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lead" href="{% url 'restaurant' %}">{% if language == "fr" %}{{ navs.resto }}{% else %}{{ navs.translated_resto }}{% endif %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lead" href="{% url 'bedrooms' %}">{% if language == "fr" %}{{ navs.chambre }}{% else %}{{ navs.translated_chambre }}{% endif %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lead" href="{% url 'activities' %}">{% if language == "fr" %}{{ navs.activite }}{% else %}{{ navs.translated_activite }}{% endif %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lead" href="{% url 'gallery' %}">{% if language == "fr" %}{{ navs.gallerie }}{% else %}{{ navs.translated_gallerie }}{% endif %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lead" href="{% url 'contact_us' %}">{% if language == "fr" %}{{ navs.contact }}{% else %}{{ navs.translated_contact }}{% endif %}</a>
            </li>
            <li class="nav-item dropdown dropdown-center">
              <a class="nav-link dropdown-toggle lead" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if language == "fr" %}{{ navs.lang }}{% else %}{{ navs.translated_lang }}{% endif %}
              </a>
              <ul class="dropdown-menu dropdown-menu-xs dropdown-menu-end" aria-labelledby="navbarDropdown" style="width: 50px;">
                {% for language in languages %}
                <li>
                  <a class="dropdown-item" href="#" onclick="switchLanguage('{{ language.code }}')" >
                    {{ language.code }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>            
          </ul>
        </div>
      </div>
  </div>
  <script>
    function switchLanguage(languageCode) {
      // make a GET request to set the language cookie
      fetch(`{% url 'set_language_cookie' %}?language_code=${languageCode}`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
        },
      })
      .then(response => {
        // reload the page to see the updated language
        window.location.reload();
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }
  </script>
  
    
{% endfor %}
