<form id="resa-form" action="{% url 'resa' %}" method=POST enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.media }}
  {{ form.as_p }}
  <input type="submit" value="Submit" class="btn btn-outline-success">
</form>

<script>
  document.getElementById("resa-form").addEventListener("submit", function(event) {
    const checkIn = document.getElementById("id_check_in").value;
    const checkOut = document.getElementById("id_check_out").value;
    if (checkIn && checkOut && checkOut <= checkIn) {
      event.preventDefault();  // prevent the form from submitting
      alert("Check_Out not valid");
    }
  });
</script>
