{% extends 'website/base.html' %}

{% load static %}

{% block content %}

        <div class="ratio ratio-21x9">
            <video id="my-video" autoplay loop muted playsinline style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <source src="{% static 'video/Clip.mp4' %}" type="video/mp4">
            </video>
            <div class="container" style="z-index: 1;">
                {%for head in heads %}
                <div class="row mt-5 ms-5">
                <div class="col-8">
                    <p class="text-light fst-italic fs-1">{% if language == "fr" %} {{ head.title }} {% else %}{{ head.translated_title }}{% endif %}</p>
                </div>
                    <div class="col-4 position-absolute bottom-0 end-0 mb-0 mb-md-0 me-0 me-md-0">
                    <p class="mt-5 lead text-light f6-4">
                        <br><br>
                        <span class="fw-bolder fst-italic d-block d-md-inline">{% if language == "fr" %} {{ head.big_text }} {% else %}{{ head.translated_big_text }}{% endif %}</span><br><br>
                        <div>
                        <figure class="text-end">
                            <br>
                            <figcaption class="blockquote-footer">
                            <span class="lead text-light fs-6 fst-italic d-block d-md-inline">{% if language == "fr" %} {{ head.small_text }} {% else %}{{ head.translated_small_text }}{% endif %}</span>
                            </figcaption>
                        </figure>
                        </div>
                    </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


        	<br><br>

        	<div class="container text-center mt-5">
        		{% for card1 in card1s %}
			  <div class="row">
			    <div class="col-md-6">
				<div class="card">
					<div id="carouseldessert" class="carousel slide">
					  <div class="carousel-inner">
					  	{% if card1.image1 %}
					    <div class="carousel-item active">
					      <img src="{{ card1.image1 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card1.image2 %}
					    <div class="carousel-item">
					      <img src="{{ card1.image2 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card1.image3 %}
					    <div class="carousel-item">
					      <img src="{{ card1.image3 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card1.image4 %}
					    <div class="carousel-item">
					      <img src="{{ card1.image4 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card1.image5 %}
					    <div class="carousel-item">
					      <img src="{{ card1.image5 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card1.image6 %}
					    <div class="carousel-item active">
					      <img src="{{ card1.image6 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card1.image7 %}
					    <div class="carousel-item">
					      <img src="{{ card1.image7 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card1.image8 %}
					    <div class="carousel-item">
					      <img src="{{ card1.image8 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card1.image9 %}
					    <div class="carousel-item">
					      <img src="{{ card1.image9 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card1.image10 %}
					    <div class="carousel-item">
					      <img src="{{ card1.image10 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					  </div>
					  <button class="carousel-control-prev" type="button" data-bs-target="#carouseldessert" data-bs-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Previous</span>
					  </button>
					  <button class="carousel-control-next" type="button" data-bs-target="#carouseldessert" data-bs-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Next</span>
					  </button>
					</div>

				  <div class="card-body">
				    <h5 class="card-title">{% if language == "fr" %} {{ card1.title }} {% else %}{{ card1.translated_title }}{% endif %}</h5>
				    {% if card1.details %}
				    <p class="card-text">{% if language == "fr" %} {{ card1.details }} {% else %}{{ card1.translated_details }}{% endif %}</p>
				    {% endif %}
				  </div>
				</div>
			    </div>
			    <div class="col-md-6 d-flex align-items-center fst-italic">
				<p class="lead">
				    {% if card1.paragraphe_title %}<span class="display-6"><br>{% if language == "fr" %} {{ card1.paragraphe_title }} {% else %}{{ card1.translated_paragraphe_title }}{% endif %}</span>{% endif %} {% if language == "fr" %} {{ card1.paragraphe_text }} {% else %}{{ card1.translated_paragraphe_text }}{% endif %}
				</p>						    	
			    </div>
			  </div>
			  	{% endfor %}
			  	{% for card2 in card2s %}
        	<br><br>
        	<br><br>
        		<div class="row">
			    <div class="col-md-6 d-flex align-items-center fst-italic lead">
				<p class="pict_home">
				    <br>{% if card2.paragraphe_title %}<span class="display-6"><br>{% if language == "fr" %} {{ card2.paragraphe_title }} {% else %}{{ card2.translated_paragraphe_title }}{% endif %}</span>{% endif %} {% if language == "fr" %} {{ card2.paragraphe_text }} {% else %}{{ card2.translated_paragraphe_text }}{% endif %}
				</p>
			    </div>
			    <div class="col-md-6">
			    <div class="card">
					<div id="carouselplat" class="carousel slide">
					  <div class="carousel-inner">
					    {% if card2.image1 %}
					    <div class="carousel-item active">
					      <img src="{{ card2.image1 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card2.image2 %}
					    <div class="carousel-item">
					      <img src="{{ card2.image2 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card2.image3 %}
					    <div class="carousel-item">
					      <img src="{{ card2.image3 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card2.image4 %}
					    <div class="carousel-item">
					      <img src="{{ card2.image4 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card2.image5 %}
					    <div class="carousel-item">
					      <img src="{{ card2.image5 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card2.image6 %}
					    <div class="carousel-item active">
					      <img src="{{ card2.image6 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card2.image7 %}
					    <div class="carousel-item">
					      <img src="{{ card2.image7 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card2.image8 %}
					    <div class="carousel-item">
					      <img src="{{ card2.image8 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card2.image9 %}
					    <div class="carousel-item">
					      <img src="{{ card2.image9 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card2.image10 %}
					    <div class="carousel-item">
					      <img src="{{ card2.image10 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					  </div>
					  <button class="carousel-control-prev" type="button" data-bs-target="#carouselplat" data-bs-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Previous</span>
					  </button>
					  <button class="carousel-control-next" type="button" data-bs-target="#carouselplat" data-bs-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Next</span>
					  </button>
					</div>

				  <div class="card-body">
				    <h5 class="card-title">{% if language == "fr" %} {{ card2.title }} {% else %}{{ card2.translated_title }}{% endif %}</h5>
				    {% if card2.details %}
				    <p class="card-text">{% if language == "fr" %} {{ card2.details }} {% else %}{{ card2.translated_details }}{% endif %}</p>
				    {% endif %}
				  </div>
				</div>							    	
			    </div>
			  </div>
			  {% endfor %}
			  {% for card3 in card3s %}
        		<br><br>
        	<br><br>
        		<div class="row">
			    <div class="col-md-6">
				<div class="card">
					<div id="carouselsnack" class="carousel slide">
					  <div class="carousel-inner">
					    {% if card3.image1 %}
					    <div class="carousel-item active">
					      <img src="{{ card3.image1 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card3.image2 %}
					    <div class="carousel-item">
					      <img src="{{ card3.image2 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card3.image3 %}
					    <div class="carousel-item">
					      <img src="{{ card3.image3 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card3.image4 %}
					    <div class="carousel-item">
					      <img src="{{ card3.image4 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card3.image5 %}
					    <div class="carousel-item">
					      <img src="{{ card3.image5 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card3.image6 %}
					    <div class="carousel-item active">
					      <img src="{{ card3.image6 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card3.image7 %}
					    <div class="carousel-item">
					      <img src="{{ card3.image7 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card3.image8 %}
					    <div class="carousel-item">
					      <img src="{{ card3.image8 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card3.image9 %}
					    <div class="carousel-item">
					      <img src="{{ card3.image9 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					    {% if card3.image10 %}
					    <div class="carousel-item">
					      <img src="{{ card3.image10 }}" class="d-block w-100" alt="...">
					    </div>
					    {% endif %}
					  </div>
					  <button class="carousel-control-prev" type="button" data-bs-target="#carouselsnack" data-bs-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Previous</span>
					  </button>
					  <button class="carousel-control-next" type="button" data-bs-target="#carouselsnack" data-bs-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Next</span>
					  </button>
					</div>

				  <div class="card-body">
				    <h5 class="card-title">{% if language == "fr" %} {{ card3.title }} {% else %}{{ card3.translated_title }}{% endif %}</h5>
				    {% if card3.details %}
				    <p class="card-text">{% if language == "fr" %} {{ card3.details }} {% else %}{{ card3.translated_details }}{% endif %}</p>
				    {% endif %}
				  </div>
				</div>
			    </div>
			    <div class="col-md-6 d-flex align-items-center fst-italic">
				<div class="moving2">
					<p class="lead fst-italic"><br>
				    {% if card3.paragraphe_title %}<span class="display-6"><br>{% if language == "fr" %} {{ card3.paragraphe_title }} {% else %}{{ card3.translated_paragraphe_title }}{% endif %}</span>{% endif %} {% if language == "fr" %} {{ card3.paragraphe_text }} {% else %}{{ card3.translated_paragraphe_text }}{% endif %}
					</p>
				</div>						    	
			    </div>
			  </div>
			  {% endfor %}
			  <br><hr>
			  <div class="container-sm">{% for foot in foots %}
	        		<div class="lignee">
			                <div class="d-flex align-items-center mt-3">
			                	
			                	{% if foot.title %}
			                	<h1 class="display-4" style="color:  rgba(94, 232, 76, 0.6);">{% if language == "fr" %} {{ foot.title }} {% else %}{{ foot.translated_title }}{% endif %}</h1><hr><br>
			                	{% endif %}
				                <p class="lead">{% if language == "fr" %} {{ foot.text }} {% else %}{{ foot.translated_text }}{% endif %}</p>
			                	
								
			                </div>
			                <div class="bubles">
					        <img src="/static/image/bubble2.png" alt="">
					        <img src="/static/image/bubble2.png" alt="">
					        <img src="/static/image/bubble2.png" alt="">
					        <img src="/static/image/bubble2.png" alt="">
					        <img src="/static/image/bubble2.png" alt="">
					        <img src="/static/image/bubble2.png" alt="">
					        <img src="/static/image/bubble2.png" alt="">
					</div>
				</div>
				<p class="text-center">
		                    	<button class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#resaModal"><i class="bi bi-bookmark-plus"></i>&nbsp;&nbsp;&nbsp;<span class="fst-italic">{% if language == "fr" %}{{ foot.boutton }}{% else %}{{ foot.translated_boutton }}{% endif %}</span></button>
		                </p>
	        	</div>{% endfor %}
        	</div>        	
        	<br><hr><br><br><br><br>
			<script>
				var myVideo = document.getElementById("my-video");
				myVideo.playbackRate = 0.6;
			</script>
{% endblock %}
