{% extends 'website/customadmin.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h1 class="display-4 custom-color fst-italic">Gallery Grid</h1>
        <hr><br><br>

        <div class="container">
            <div class="card text-center">
                <div class="card-header custom-color fst-italic">
                    Update {{ b.title }}
                </div>
                <div class="card-body">
                    <form action="" method=POST enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br/>
                        <input type="submit" name="Update" class="btn btn-outline-warning" value="Update">
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <p></p>
                </div>
                </div>
        </div>
    {% else %}
    <center>
        <p class="lead">OOps ERROR 404: could not find the page you requested</p>
    </center>
    {% endif %}
{% endblock %}