{% extends 'website/customadmin.html' %}
{% block content %}
    {% if user.is_authenticated %}
            <div class="container-sm">
                <h1 class="display-4 custom-color fst-italic">Todo</h1>
                <hr><br><br>
                
                <div class="container">
                    <div class="card text-center">
                        <div class="card-header custom-color">
                            <p class="display-4 custom-color"> URL Localisation</p>
                        </div>
                        <div class="card-body"> 
                            <form action="{% url 'update_loc'%}" method=POST enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form1.as_p }}
                                <br/>
                                <input type="submit" name="Update" class="btn btn-outline-warning" value="Update">
                            </form>
                        </div>
                        <div class="card-footer text-muted">
                        <p></p>
                        </div>
                    </div>
                    <br><br><hr><br><br>
                    <div class="card text-center">
                        <div class="card-header custom-color">
                        <p class="display-4 custom-color">Contact_us</p>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'update_con'%}" method=POST enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form2.as_p }}
                                <br/>
                                <input type="submit" name="Update" class="btn btn-outline-warning" value="Update">
                            </form>
                        </div>
                        <div class="card-footer text-muted">
                        <p></p>
                        </div>
                    </div>
                </div>
            </div>
    {% else %}
    <center>
        <p class="lead">OOps ERROR 404: could not find the page you requested</p>
    </center>
    {% endif %}
{% endblock %}