{% extends 'website/customadmin.html' %}
{% block content %}
    {% if user.is_authenticated %}
            <div class="container-sm">
                <h1 class="display-4 custom-color fst-italic">Offers</h1>
                <hr><br><br>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="table-success">
                            <th scope="col"> Image </th>
                            <th scope="col">Offer Title</th>
                            <th scope="col">Translated offer Title</th>
                            <th scope="col">Offer details</th>
                            <th scope="col">Translated offer details</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    {% for offer in offers %}
                    <tbody>
                        <tr>
                            <td>
                                <p class="lead"><img src="{{ offer.offer_image }}" style="width: 40px;" alt=""></p><br/><br/>
                            </td>
                            <td>
                                <p class="lead">{{ offer.offer_title }} </p><br/><br/>
                            </td>
                            <td>
                                <p class="lead">{{ offer.translated_offer_title }} </p><br/><br/>
                            </td>
                            <td>
                                <p class="lead">{{ offer.offer_details }} </p><br/><br/>
                            </td>
                            <td>
                                <p class="lead">{{ offer.translated_offer_details }} </p><br/><br/>
                            </td>
                            <td align="right">
                                <a href="{% url 'update_offer' offer.id%}" class="btn btn-warning btn-sm" >Update</a>
            
                            </td>
                        </tr>
                    </tbody>		
                    {% endfor %}
                    </table>
            </div>
    {% else %}
    <center>
        <p class="lead">OOps ERROR 404: could not find the page you requested</p>
    </center>
    {% endif %}   
{% endblock %}