{% extends 'website/customadmin.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container-sm">    
            <center>
                <h1></h1>
                <div class="card">
                    <div class="card-header">
                    Message de:&nbsp;{{ mess.message_name }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title small text-gray-500">{{ mess.date_sent }}</h5>
                        <p class="card-text">
                            <strong>Email:</strong>{{mess.message_email}}<br/>
                            {% if mess.description %}
                            <strong>message: </strong><span class="lead">{{mess.message_content}}</span><br/>
                            {% endif %}
                            <br>
                        </p>
                    </div>
                </div>
            </center>   
        </div>
    {% else %}
    <center>
        <p class="lead">OOps ERROR 404: could not find the page you requested</p>
    </center>
    {% endif %}
{% endblock %}