{% extends 'website/customadmin.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container text-center mt-5">
            <h1 class="display-4 custom-color fst-italic">Bedroom cards list</h1>
            <br>
            <br>
            <br>
            {% for c in c1 %}
            <h1 class="display-4 custom-color text-decoration-underline fst-italic">{{ c.title }}</h1>
            <br>
                <div class="row">
                    {% if c.image1 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ c.image1 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if c.image2 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ c.image2 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if c.image3 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ c.image3 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if c.image4 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ c.image4 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if c.image5 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ c.image5 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if c.image6 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ c.image6 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if c.image7 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ c.image7 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if c.image8 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ c.image8 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if c.image9 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ c.image9 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if c.image10 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ c.image1 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    <hr>
            </div><br><br>
            <ul class="list-group list-group-flush">
                <li class="list-group-item custom-color" style="background: rgba(67, 159, 41, 0.2);"> <a class="btn btn-outline-warning" href="{% url 'update_bedcard' c.id %}">Modifier</a></li>
            </ul>
            {% endfor %}
            <br>
            <br>
            <br> 
        </div>

    {% else %}
    <center>
        <p class="lead">OOps ERROR 404: could not find the page you requested</p>
    </center>
    {% endif %}   
{% endblock %}