{% extends 'website/customadmin.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container-sm">    
            <center>
                <h1></h1>
                <div class="card">
                    <div class="card-header">
                    Reservation de:&nbsp;{{ resa.first_name }}&nbsp;{{ resa.last_name}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title small text-gray-500">{{ resa.date_sent }}</h5>
                        <p class="card-text">
                            <strong>Check_in:</strong> {{ resa.check_in }}<br/>
                            {% if resa.check_out%}
                            <strong>Check_out:</strong> {{ resa.check_out }}<br/>
                            {% endif %}
                            <strong>Service:</strong> {{ resa.service }}<br/>
                            <strong>Pax number:</strong>{{ resa.pax}}<br/>
                            <strong>Phone:</strong>{{resa.phone}}<br/>
                            <strong>Email:</strong>{{resa.email_address}}<br/>
                            {% if resa.description %}
                            <strong>Description: </strong><span class="lead">{{resa.description}}</span><br/>
                            {% endif %}
                            <br>
                        </p>
                    </div>
                </div>
            </center>   
        </div>
    {% else %}
    <center>
        <p class="lead">OOps ERROR 404: could not find the page you requested</p>
    </center>
    {% endif %}
{% endblock %}