{% extends 'website/customadmin.html' %}
{% block content %}
    {% if user.is_authenticated %}
            <div class="container-sm">
                <h1 class="display-4 custom-color fst-italic">Todo</h1>
                <hr><br><br>
                
                <div class="container">
                    <div class="card text-center">
                        <div class="card-header custom-color">
                            <p class="display-4 custom-color fst-italic">Details</p>
                        </div>
                        <div class="card-body">
                            <form action="" method=POST enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form1.as_p }}
                                <br/>
                                <input type="submit" name="Update" class="btn btn-outline-warning" value="Update">
                            </form>
                        </div>
                        <div class="card-footer text-muted">
                        <p></p>
                        </div>
                    </div>
                    <br><br><hr><br><br>
                    <div class="card text-center">
                        <div class="card-header custom-color">
                        <p class="display-4 custom-color">Texte</p>
                        </div>
                        <div class="card-body">
                            <form action="" method=POST enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form2.as_p }}
                                <br/>
                                <input type="submit" name="Update" class="btn btn-outline-warning" value="Update">
                            </form>
                        </div>
                        <div class="card-footer text-muted">
                        <p></p>
                        </div>
                    </div>
                    <br><br><hr><br><br>
                    <p class="display-4 custom-color">Items</p>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr class="table-success">
                                <th scope="col">Image</th>
                                <th scope="col">Image2</th>
                                <th scope="col">Todo details</th>
                                <th scope="col">Translated Todo details</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        {% for todo_item in todo_items %}
                        <tbody>
                            <tr>
                                <td>
                                    <p class="lead"><img src="{{ todo_item.item_image }}" style="width: 35px;" alt=""></p><br/><br/>
                                </td>
                                <td>
                                    <p class="lead"> <img src=" {{ todo_item.item_image2 }}" style="width: 25px;" alt=""></p><br/><br/>
                                </td>
                                <td>
                                    <p class="lead">{{ todo_item.item_details }} </p><br/><br/>
                                </td>
                                <td>
                                    <p class="lead">{{ todo_item.translated_item_details }} </p><br/><br/>
                                </td>
                                <td align="right">
                                    <a href="{% url 'update_todo_item' todo_item.id %}" class="btn btn-warning btn-sm" >Update</a>
                
                                </td>
                            </tr>
                        </tbody>		
                        {% endfor %}
                    </table>
                </div>
            </div>
    {% else %}
    <center>
        <p class="lead">OOps ERROR 404: could not find the page you requested</p>
    </center>
    {% endif %}
{% endblock %}