{% extends 'website/customadmin.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container text-center mt-5">
            {% for slide in slides %}
            <div class="row">
                    {% if slide.slide_image1 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ slide.slide_image1 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if slide.slide_image2 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ slide.slide_image2 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if slide.slide_image3 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ slide.slide_image3 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if slide.slide_image4 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ slide.slide_image4 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if slide.slide_image5 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ slide.slide_image5 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if slide.slide_image6 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ slide.slide_image6 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if slide.slide_image7 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ slide.slide_image7 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if slide.slide_image8 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ slide.slide_image8 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if slide.slide_image9 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ slide.slide_image9 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    {% if slide.slide_image10 %}
                    <div class="col-md-6 lead fst-italic mt-5">
                        <img src="{{ slide.slide_image1 }}" class="d-block w-100 h-100" alt="something here">
                    </div>
                    <br>
                    {% endif %}
                    <hr>
            </div><br><br>
            <ul class="list-group list-group-flush">
                <li class="list-group-item custom-color" style="background: rgba(67, 159, 41, 0.2);"> <a class="btn btn-outline-warning" href="{% url 'slide_update' slide.id %}">Modifier</a></li>
            </ul>
            {% endfor %}
        </div>
    {% else %}
    <center>
        <p class="lead">OOps ERROR 404: could not find the page you requested</p>
    </center>
    {% endif %}
{% endblock %}