{% extends 'website/customadmin.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <h1>Inbox resa</h1>
            
            <table class="table table-hover">
                {% for resa in resas %}
                    {% if resa.status == "pending"%}
                    <tr class="table-success">
                        <td>
                            <p class="small text-gray-500">{{ resa.date_sent }} GMT</p>
                            <a class="fw-bold text-dark text-decoration-underline" href="{% url 'view_resa' resa.id %}">{{ resa.first_name }} {{resa.last_name}} </a>
                        </td>
                        <td>
                            <p class="small text-gray-500">{{ resa.email_address }}</p>
                            <p>Check in {{ resa.check_in }}</p>
                        </td>
                        <td align="right">
                            <br>
                            <a href="{% url 'delete-resa' resa.id %}" class="btn btn-outline-danger btn-sm" >Delete</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>
                            <p class="small text-gray-500">{{ resa.date_sent }} GMT</p>
                            <a class="text-gray-800 text-decoration-underline" href="{% url 'view_resa' resa.id %}">{{ resa.first_name }} {{resa.last_name}} </a>
                        </td>
                        <td>
                            <p class="small text-gray-500">{{ resa.email_address }}</p>
                            <p class="text-gray-800">Check in {{ resa.check_in }}</p>
                        </td>
                        <td align="right">
                            <br>
                            <a href="{% url 'delete-resa' resa.id %}" class="btn btn-outline-danger btn-sm" >Delete</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </table>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if inb.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo first</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{inb.previous_page_number}}">Previous</a></li>
                {% endif %}

                <!--<li class="page-item disabled"><a href="#" class="page-link"> Page {{ inb.number }} of {{ inb.paginator.num_pages }}</a></li>-->
                {% for i in nums %}
                    <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endfor %}

                {% if inb.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ inb.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{inb.paginator.num_pages }}">Last &raquo</a></li>

                {% endif %}        
		  </ul>
		</nav>
    {% else %}
    <center>
        <p class="lead">OOps ERROR 404: could not find the page you requested</p>
    </center>
    {% endif %}   
{% endblock %}