.moving1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}
.moving2{
    width: 500px;
    font-size: 16px;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s ease-in-out;

}

.moving2 h1{
    color:  rgba(94, 232, 76, 0.6);
}

.moving2 p{
    color: gray
}

.separator{
    margin: 1rem 0;
    border: none;
    border-bottom: 1px solid grey;
}

.active {
    opacity: 1;
    transform: translateX(50px);
}

.conttt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.pict_home{
    border-radius: 7px;
    width: 100%;
  object-fit: cover;
  opacity: 0;
  transform: translateX(100px);
  transition: all 2.5s ease-in-out;
}

.active2{
    opacity: 1;
    transform: translateX(-5px);
    
}

.active {
    opacity: 1;
    transform: translateX(50px);
}

.lignee {
    padding:  30px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: scale(0.1);
    transition: all 3s ease-in-out;
}

.colonnne{
  flex-basis: 40%;  
}

.active3{
    opacity: 1;
    transform: scale(1);
}


.bubles img{
    width: 50px;
    opacity: 0;
    animation: buble 7s linear infinite;
}

.bubles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
}

@keyframes buble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    10%{
        opacity: 0.4;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    85%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubles img:nth-child(1){
    animation-delay: 3s;
    width: 9px;
}
.bubles img:nth-child(2){
    animation-delay: 2s;
    width: 11px;
}
.bubles img:nth-child(3){
    animation-delay: 1s;
    width: 5px;
}
.bubles img:nth-child(4){
    animation-delay: 3.5s;
    width: 9px;
}
.bubles img:nth-child(5){
    animation-delay: 2.5s;
    width: 13px;
}
.bubles img:nth-child(6){
    animation-delay: 6s;
    width: 9px;
}
.bubles img:nth-child(7){
    animation-delay: 1.5s;
    width: 11px;
}

