.gradient-custom-2 {
    /* fallback for old browsers */
    opacity: 0.9;
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: url(/static/image/bg.jpg);
    
    @media (min-width: 768px) {
    .gradient-form {
    width: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
}


#gradient-custom-4 {
    /* fallback for old browsers */
    opacity: 0.2;
    /*background: url(/static/image/logo.png);*/
    background: url(/static/image/logo.png);
    background-repeat: no-repeat;
    background-size: 450px;
    background-size: 100%;
    background-position: center;
}