

#mainNavigation a {
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.dropdown-menu {
  width: 50px !important;
  background: rgba(255, 255, 255, 0.2);
}

a.dropdown-toggle {
  color: #B36605 !important;
}

a.dropdown-item {
  color: #6B3D03 !important;
}

a.dropdown-item:hover {
  color: #6B3D03 !important;
  background-color: rgba(67, 159, 41 ,0.2)
}
a.dropdown-item:active {
  background-color: rgba(67, 159, 41 ,0.2) /* change to desired color */
}


.nav-item a {
  color: #B36605;
}

.nav-item a:hover {
  color: #EDDEC9;
}

.nav-item {
  min-width: 12vw;
}

.dropdown:hover{
  color: #EDDEC9;
}

#mainNavigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 123;
  padding-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#mainNavigation nav > .border-bottom {
  border-bottom-width: 30px;
}

.custom-color {
  color: #B36605;
}

.blanc-color {
  color: #FFF;
}

/* Customize the color of the accordion header when clicked */
.accordion-button:focus {
    background-color: #EDDEC9;
    color: #B36605;
    outline: none;
    box-shadow: none;
}
/* Customize the color of the accordion button when clicked */
.accordion-button:not(.collapsed) {
    background-color: none;
    color: none;
}



.carousel {
  width: 100%;
  height: 500px;
  margin-bottom: 0;

  
}

.carousel-item {
  height: 500px;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;

    transform: translateX(-50px);
    transition: all 2.5s ease-in-out;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  color: #fff;
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-indicators li {
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li.active {
  background-color: #fff;
}