a.vlink {
    color : #efefef;
    position:relative;
    height:54px;
    width:72px;
    text-align:center;
    line-height:54px;
    display:block;
    font-size:1.2rem;
  }
  a.vlink span {
    position : absolute;
    opacity: 0;
    transition : transform 400ms ease-out;
    margin-left:24px;
    box-shadow : 2px 4px 3px 1px rgba(94,232,76,0.2)
  }
   
  a.vlink span:before {
    content : '';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-right:8px solid #5EE84C;
    left:-12px;
    top:33%;
  }
  a.vlink span:hover {
    background : #5EE84C !important;
  }
  a.vlink:hover {
    box-shadow : 1px 2px 3px #9d451d;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2825b+0,e55b2b+50,f07146+100;Red+3D+%232 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=1 ); /* IE6-9 */
  }
   
  a.vlink:hover span {
    opacity:1;
    width:120px;
    transform:translateX(12px);
    background : #5EE84C;
    font-size:16px;
    border-radius:6px;
    border-left:4px solid #5EE84C;
    padding : 0px 12px 0px 12px
  }
   
  ul {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: rgb(250,233,211); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(250,233,211,1) 0%, rgba(238,213,186,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(250,233,211,1) 0%,rgba(238,213,186,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(250,233,211,1) 0%,rgba(238,213,186,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D8AB8A', endColorstr='#FAE9D3',GradientType=1 ); /* IE6-9 */
    box-shadow :-6px 12px 5px 2px rgba(145,145,145,0.5)
  }
  .custom-color {
        color: #B36605;
    }
  #myAlertBox {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: #f44336;
      color: white;
      border-radius: 5px;
}

  .alert {
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.5);
z-index: 9999;
}

.alert-box {
background-color: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#gradient-custom-4 {
    /* fallback for old browsers */
    /*opacity: 0.2;*/
    /*background: url(/static/image/logo.png);*/
    background: url(/static/image/logo.png);
    background-repeat: no-repeat;
    /*background-size: 450px;*/
    background-size: 100%;
    background-position: center;
}
