
/* set the default color */
.nav-item a.nav-link i.fa-house,
.nav-item a.nav-link i.fa-utensils,
.nav-item a.nav-link i.fa-bed,
.nav-item a.nav-link i.fa-chess-board,
.nav-item a.nav-link i.fa-comment,
.nav-item a.nav-link i.fa-image,
.nav-item a.nav-link i.fa-caret-down {
  color: #AF6E19;
}

/* set the hover color */
.nav-item a.nav-link:hover i.fa-house,
.nav-item a.nav-link:hover i.fa-utensils,
.nav-item a.nav-link:hover i.fa-bed,
.nav-item a.nav-link:hover i.fa-chess-board,
.nav-item a.nav-link:hover i.fa-comment,
.nav-item a.nav-link:hover i.fa-image,
.nav-item a.nav-link:hover i.fa-caret-down {
  color: #198754;
}

.sidebar .nav-link span {
        color: #AF6E19;
    }

.sidebar .nav-link:hover span {
        color: #198754;
    }

.sidebar .nav-item.active .nav-link span {
        color: #000;
    }
#sidebarToggle:hover {
  background-color: #F9A66C;
}
